---
layout: default
title: Homepage
cta-banner: true
cta-link: https://www.google.com
heading: This is the main headline
seo:
  title: Elsewhere Blog
  meta-description:
  meta-keywords:
  featured-image_path:
  hide-from-google: false

---

<!------------------ CTA-Banner ------------------>

{% if page.cta-banner == true %} 

{% include cta_banner.html %}

{% endif %}

<!------------------ Headline ------------------>

<section class="text-center">
  <h1>{{page.heading}}</h1>
</section>

<!------------------ Blog posts ------------------>

<section class="container p-6 mb-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 text-center">
  
  {% for post in site.posts %}

    {% include post-preview.html %}

  {% endfor %}

</section>