---
layout: default
title: Homepage
seo:
  title: SEO title
  meta-description:
  meta-keywords:
  featured-image_path:
  hide-from-google: false

---

<!------------------ CTA-Banner ------------------>

{% include cta-banner.html %}

<!------------------ Blog posts ------------------>

<section class="container p-6 mb-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 text-center">
  
  {% for post in site.posts %}

  <div>
    <a href="{{post.url}}"><img class="container mx-auto h-80 object-cover" src="{{post.featured-image}}"></a>
    <span class="text-sm uppercase block py-5">{{post.category}}</span>
    <a href="{{post.url}}" class="inline-block text-lg">{{post.title}}</a>
    <span class="text-sm block py-5">{{post.author}}</span>
    <span class="text-sm block">{{post.date | date: "%d %b %Y"}}</span>
  </div>

  {% endfor %}

</section>