<!------------------ Site-Header ------------------>

<header class="text-center">
  <div class="playfair text-6xl my-10"><a href="/index.html">Elsewhere.</a></div>
  <nav class="p-2 flex flex-row flex-nowrap overflow-x-scroll md:overflow-auto scrolling-touch md:justify-center">
      <a class="px-5 mx-0.5 inline-block" href="/index.html">Link</a>
      <a class="px-5 mx-0.5 inline-block" href="#">Link</a>
      <a class="px-5 mx-0.5 inline-block" href="#">Link</a>
      <a class="px-5 mx-0.5 inline-block" href="#">Link</a>
      <a class="px-5 mx-0.5 inline-block" href="#">Link</a>
  </nav>
</header>