<!------------------ Site-Footer ------------------>

<footer class="bg-neutral-800 h-[30vh] py-20 text-white relativ bottom-0">
  <div class="container mx-auto grid grid-cols-2">
    <div>
      <div class="playfair text-4xl mb-10">Elsewhere.</div>
      <i class="fab fa-facebook-f inline-block"></i>
      <i class="fab fa-facebook-f inline-block"></i>
      <i class="fab fa-facebook-f inline-block"></i>
    </div>
    <div>
      <a class="inline-block border-b border-white hover:border-b hover:border-orange-400" href="/index.html">Link</a>
      <a class="inline-block border-b border-white hover:border-b hover:border-orange-400" href="/index.html">Link</a>
      <a class="inline-block border-b border-white hover:border-b hover:border-orange-400" href="/index.html">Link</a>
      <a class="inline-block border-b border-white hover:border-b hover:border-orange-400" href="/index.html">Link</a>
    </div>
  </div>
</footer>