---
layout: default
---

{% for block in page.page_blocks %}
  {% include /blocks/{{block._id}}.html %}
{% endfor %}


<section class="bg-slate-200 text-center py-10">
	<h4> Related Posts </h4>
	<div class="grid grid-cols-3 gap-5 container p-6 mx-auto">

		{% assign pageCategory = page.categories[0] %}
		{% assign relevant = site.categories[pageCategory] | where_exp:"post","post.url != page.url" %}
  		{% for post in relevant limit:3 %}

      <div>
        <a href="{{post.url}}"><img class="container mx-auto h-[60vh] object-cover" src="{{post.featured-image}}"></a>
        <span class="text-sm uppercase block py-5">{{post.category | join: " / "}}</span>
        <a href="{{post.url}}" class="inline-block text-lg">{{post.title}}</a>
        <span class="text-sm block py-5">{{post.author}}</span>
        <span class="text-sm block">{{post.date | date: "%d %b %Y"}}</span>
      </div>
      		
  		{% endfor %}
  		
	</div>

</section>